/* estilos generales*/
* {
    margin:0;
    padding: 10px;
    box-sizing: border-box;
}

html,body,#root {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

/* estilo para el tema oscuro claro*/
.dark-mode {
    background-color: #333;
    color: #f5f5f5;
    min-height: 100vh;
}

.ligth-mode {
    background-color: #555;
    color:#f0f0f0;
    min-height: 100vh;
}

/*Estilos de botones*/
button {
    background-color: #0066cc;
    color:white;
    border:none;
    padding: 10px 20px;
    margin:5px;
    cursor:pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color:#005bb5;
}

/*Estilo para el boton que cambia el color*/
.color-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
}

/*Estilo para el input*/
input[type="text"] {
    width: 100%;
    max-width: 400px; /*aumentar el tamanio del campo de entrada*/
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border:1px solid #ddd;
    border-radius: 5px;
}
.ganache-alert {
    background-color: #ffcccc;
    color:#cc0000;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.no-ganache {
    background-color: #eee;
}
